.notion-root a {
    opacity: 1 !important;
}

.notion-semantic-string .link {
    transition: var(--transition-hover) !important;

    opacity: 1 !important;

    color: inherit !important;

    text-decoration: none !important;
    border-bottom: 1px solid inherit !important;
    border-color: inherit !important;
}

.notion-semantic-string .link:hover {
    border-color: var(--color-primary) !important;
    color: var(--color-primary) !important;
}