.notion-root a {
    opacity: 100% !important;
}

.notion-semantic-string .link {
    text-decoration: none;
    border-bottom: 1px solid var(--color-text-default-light);
    opacity: .7;
    transition: var(--transition-hover) !important;
    border-color: var(--color-text-light) !important;
    color: var(--color-text-light) !important;
}

.notion-semantic-string .link:hover {
    border-color: var(--color-primary) !important;
    color: var(--color-primary) !important;
}