:root {
    --dur-in-fast: 0.2s;
    --dur-in-mid: 1s;
    --dur-in-slow: 2s;

    --ease-default: ease-out;

    --trans-hover: all var(--dur-in-fast) ease;
}

@keyframes fadeIn-Delayed {
    0% {
        opacity: 0
    }

    33% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeInHeaderCover {
    0% {
        opacity: 0
    }

    100% {
        opacity: 0.25
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        top: -25px
    }

    100% {
        opacity: 1;
        top: 0
    }
}