:root {
    --dur-in-fast: 0.2s;
    --dur-in-mid: 1s;
    --dur-in-mid-delayed: 1.25s;
    --dur-in-slow: 2s;

    --ease-default: ease-out;

    --transition-hover: all 0.1s ease-in;
}

.notion-root>* {
    animation-name: fadeIn-Delayed;
    animation-duration: var(--dur-in-mid-delayed);
}

.notion-root>h1:first-of-type {
    animation-name: fadeIn;
    animation-duration: var(--dur-in-mid);
}

#page-index .notion-root>h1:first-of-type {
    animation-name: fadeInDown;
    animation-duration: var(--dur-in-slow);
}

@keyframes fadeIn-Delayed {
    0% {
        opacity: 0
    }

    33% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fadeInHeaderCover {
    0% {
        opacity: 0
    }

    100% {
        opacity: 0.6
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        top: -50px
    }

    100% {
        opacity: 1;
        top: 0
    }
}