body {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
    background: var(--color-bg-dark) !important;
}

/* #page-index .super-content {
    max-width: 1200px !important;
}

.super-content {
    max-width: 900px !important;
    padding: 50px !important
} */