body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    background: var(--color-bg-dark);
}

.notion-root>div,
.notion-column>div {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.super-content {
    max-width: var(--width-super-content);
    padding: 20px
}