/* Gallery */

/*Remove gallery padding intended to offset from title*/
.notion-collection-gallery {
    padding: 0 !important;
}

/* ---------------------- */

.notion-collection-card {
    transition: var(--transition-hover) !important;
    background: rgb(24, 25, 28) !important;
    box-shadow: none !important;
    margin-bottom: 0em !important;
}

.notion-collection-card:hover {
    opacity: 0.7 !important;
}

/*Remove corner radius on gallery cards*/
.notion-collection-card,
.notion-collection-card__cover img {
    border-radius: 0 !important;
}

.notion-collection-card__cover {
    border: none !important;
    margin-bottom: 0.25em !important;
}

.notion-collection-card__cover.large,
.notion-collection-card__cover.large span {
    height: 325px !important;
    max-height: 100vw !important;
}

/* -------------------*/

.notion-collection-list__item {
    transition: var(--transition-hover) !important;
    margin-bottom: 5px !important;
}

.notion-collection-list__item:hover {
    background: #303940 !important;
}