/* Reference: https: //super.so/docs/notion-colors */


:root {
    /* Color properties pre-defined in Notion CSS */

    /* Color of text without any background */

    --color-text-default: var(--color-text-light);
    --color-text-gray: var(--color-gray);
    --color-text-brown: var(--color-brown);
    --color-text-orange: var(--color-orange);
    --color-text-yellow: var(--color-yellow);
    --color-text-green: var(--color-green);
    --color-text-blue: var(--color-blue);
    --color-text-purple: var(--color-purple);
    --color-text-pink: var(--color-pink);
    --color-text-red: var(--color-red);

    /* Color of text backgrounds */

    --color-bg-gray: var(--color-gray);
    --color-bg-brown: var(--color-brown);
    --color-bg-orange: var(--color-orange);
    --color-bg-yellow: var(--color-yellow);
    --color-bg-green: var(--color-green);
    --color-bg-blue: var(--color-blue);
    --color-bg-purple: var(--color-purple);
    --color-bg-pink: var(--color-pink);
    --color-bg-red: var(--color-red);

    /* Color of property pills */

    --color-pill-gray: var(--color-gray);
    --color-pill-brown: var(--color-brown);
    --color-pill-orange: var(--color-orange);
    --color-pill-yellow: var(--color-yellow);
    --color-pill-green: var(--color-green);
    --color-pill-blue: var(--color-blue);
    --color-pill-purple: var(--color-purple);
    --color-pill-pink: var(--color-pink);
    --color-pill-red: var(--color-red);
}