:root {
    /* Color properties pre-defined in Super CSS */

    /* Color of text without any background */

    --color-text-default: var(--color-text-light) !important;
    --color-text-gray: var(--color-gray) !important;
    --color-text-brown: var(--color-brown) !important;
    --color-text-orange: var(--color-orange) !important;
    --color-text-yellow: var(--color-yellow) !important;
    --color-text-green: var(--color-green) !important;
    --color-text-blue: var(--color-blue) !important;
    --color-text-purple: var(--color-purple) !important;
    --color-text-pink: var(--color-pink) !important;
    --color-text-red: var(--color-red) !important;

    /* Color of text backgrounds */

    --color-bg-gray: var(--color-gray) !important;
    --color-bg-brown: var(--color-brown) !important;
    --color-bg-orange: var(--color-orange) !important;
    --color-bg-yellow: var(--color-yellow) !important;
    --color-bg-green: var(--color-green) !important;
    --color-bg-blue: var(--color-blue) !important;
    --color-bg-purple: var(--color-purple) !important;
    --color-bg-pink: var(--color-pink) !important;
    --color-bg-red: var(--color-red) !important;

    /* Color of property pills */

    --color-pill-default: var(--color-highlight) !important;
    --color-pill-brown: var(--color-brown) !important;
    --color-pill-orange: var(--color-orange) !important;
    --color-pill-yellow: var(--color-yellow) !important;
    --color-pill-green: var(--color-green) !important;
    --color-pill-blue: var(--color-blue) !important;
    --color-pill-purple: var(--color-purple) !important;
    --color-pill-pink: var(--color-pink) !important;
    --color-pill-red: var(--color-red) !important;
}