/* These are stylings applied to last elements and specific IDs to create a footer */

:root {
    --column-spacing: 0px;
    --font-size-footer: 14px;
}

/*Copyright text block*/
#block-139fde9a1f8a4f89a4536aed5d084307>p {
    font-size: 14px !important;
}

/*Footer callout block*/

#block-8abf4236ccce4037a44a9f8b38f626f2 {
    background: #24272b;
    border-width: 0px;
    margin: 0px;
    padding: 30px;
}

#block-8abf4236ccce4037a44a9f8b38f626f2 .notion-callout__icon {
    display: none !important;
}

#block-8abf4236ccce4037a44a9f8b38f626f2 .notion-callout__content {
    width: 100% !important;
    max-width: 100% !important;
}

#block-8abf4236ccce4037a44a9f8b38f626f2 .notion-column {
    margin: 0px !important;
    padding: 0px !important;
}

#block-8abf4236ccce4037a44a9f8b38f626f2 .notion-text {
    margin: 0px !important;
    padding: 0px !important;
    height: 1.8em;
    min-height: 0px !important;
}

#block-8abf4236ccce4037a44a9f8b38f626f2 .notion-text__content {
    margin: 0px !important;
    padding: 0px !important;
}

#block-8abf4236ccce4037a44a9f8b38f626f2 p {
    margin: 0px !important;
    padding: 0px !important;
    font-size: var(--font-size-footer) !important;
}

#block-8abf4236ccce4037a44a9f8b38f626f2 a {
    border-style: none;
}