.notion-toggle {
    display: none !important;
}

.notion-collection__header {
    display: none !important;
}

.notion-collection-gallery,
.notion-collection-list,
.notion-collection-board {
    border-top: 0 !important;
}

.notion-property__title__icon-wrapper {
    display: none !important;
}