.notion-toggle {
    display: none;
}

.notion-collection__header {
    display: none;
}

.notion-collection-gallery,
.notion-collection-list,
.notion-collection-board {
    border: 0;
}

.notion-property__title__icon-wrapper {
    display: none;
}