/* Specify font-size in px for precise control over line breaks */

/* Special case of first H1 element in notion-root div */
.notion-root>h1:first-of-type {
    font-size: 42px !important;
    font-weight: 400 !important;
    max-width: 800px !important;

    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 1.2em 0px !important;
}

/* Extra-special case of first H1 element in homepage */
#page-index .notion-root>h1:first-of-type {
    font-size: 55px !important;

    height: 50vh !important;
}

/*Larger introductory p text*/
.notion-root>.notion-text:first-of-type p {
    color: #d1d1d1 !important;

    font-size: 22px !important;

    max-width: 600px !important;
}