@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: .3 !important
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        top: -50px
    }

    to {
        opacity: 1;
        top: 0
    }
}