/* Global values */

:root {
    background: #1e1f24;
    font-family: 'Inter', san-serif;
    font-size: 16px;
    color: #F0F0F0;
}

/* Parent div and form blocks */

.center {
    margin: auto;
}

#mc_embed_signup {
    background: transparent;
    clear: left;
    width: 100%;
    max-width: 350px;
}

#mc_embed_signup form {
    display: block;
    position: relative;
    text-align: left;
}

#mc_embed_signup .clear {
    clear: both;
}

/* Email input field */

#mc_embed_signup .mc-field-group {
    clear: left;
    position: relative;
}

#mc_embed_signup .mc-field-group label {
    display: none;
}

#mc_embed_signup .mc-field-group input {
    color: white;
    font-size: 1em;
    font-weight: 200;
    background: transparent;
    border: 2px solid #3399ff;
    border-radius: 2px;
    display: block;
    width: 100%;
    padding: 0.75em 0;
    text-indent: 0.85em;
}

#mc_embed_signup .mc-field-group select {
    display: inline-block;
    width: 99%;
    padding: 5px 0;
    margin-bottom: 2px;
}

/* Submit button */

#mc_embed_signup .button {
    clear: both;
    background-color: #3399ff;
    border: 0 none;
    border-radius: 2px;
    transition: all 0.23s ease-in-out 0s;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 600;
    height: 2.7em;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
}

#mc_embed_signup .button:hover {
    background-color: #0080ff;
}

/* Responses */

#mc_embed_signup div#mce-responses {
    color: #ababab;
    font-size: 0.9em;
    margin: 0;
    padding: 0 1em;
    min-height: 10px;
}

#mc_embed_signup div.response {
    margin: 1.5em 0;
}

#mc_embed_signup div#mce-responses a {
    transition: all 0.23s ease-in-out 0s;
    color: #ababab;
}

#mc_embed_signup div#mce-responses a:hover {
    color: white;
}

/* Response: Error */

#mc_embed_signup #mce-error-response {
    display: none;
}

/* Response: Success */

#mc_embed_signup #mce-success-response {
    color: #00cc69;
    display: none;
}

/* Inline error */

#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {
    display: inline-block;
    margin: 8px;
    padding: 0;
    background-color: transparent;
    font-size: 0.8em;
    color: #eb344f;
}

#mc_embed_signup #mc-embedded-subscribe-form input.mce_inline_error {
    border: 2px solid #eb344f;
}