/* Set to primary color */

::selection {
    background: var(--color-primary) !important;
    color: var(--color-text-dark) !important
}

.notion-quote {
    font-size: 1.1em !important;
    border-left: 1px solid var(--color-primary) !important
}