/*Remove Notion header margin*/
.notion-header {
    margin: 0 !important;
}

/*Hide Notion header title or iconv*/
.notion-header__title-wrapper {
    display: none !important;
}

/*Style Notion header cover*/
.notion-header__cover.has-cover {
    position: absolute !important;
    width: 100vw !important;
    height: 100vh !important;
    max-height: 200vw !important;

    opacity: 0.25 !important;
    z-index: -10 !important;

    animation: var(anim-in-mid);
}

/*Draw an image over Notion header cover*/
/*':after' creates a pseudo element that is the last child of the selected element, in this case header cover*/
.notion-header__cover.has-cover:after {
    content: "";
    background-image: var(--gradient-bg-dark);

    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 1;
}