.notion-pill {
    font-size: 0.65rem;
    font-weight: 500;
    background: none;
    border-radius: 2px;
    padding: 2px 4px;

    border-style: solid;
    border-width: 1px;
}

.pill-gray {
    border-color: var(--color-gray);
    color: var(--color-gray);
}

.pill-brown {
    border-color: var(--color-brown);
    color: var(--color-brown);
}

.pill-orange {
    border-color: var(--color-orange);
    color: var(--color-orange);
}

.pill-yellow {
    border-color: var(--color-yellow);
    color: var(--color-yellow);
}

.pill-green {
    border-color: var(--color-green);
    color: var(--color-green);
}

.pill-blue {
    border-color: var(--color-blue);
    color: var(--color-blue);
}

.pill-purple {
    background: none;
    border-color: var(--color-purple);
    color: var(--color-purple);
}

.pill-pink {
    border-color: var(--color-pink);
    color: var(--color-pink);
}

.pill-red {
    border-color: var(--color-red);
    color: var(--color-red);
}