.notion-pill {
    font-size: 0.65rem !important;
    font-weight: 500 !important;
    background: none !important;
    border-radius: 2px !important;
    padding: 2px 4px !important;

    border-style: solid !important;
    border-width: 1px !important;
}

.pill-gray {
    border-color: var(--color-gray) !important;
    color: var(--color-gray) !important;
}

.pill-brown {
    border-color: var(--color-brown) !important;
    color: var(--color-brown) !important;
}

.pill-orange {
    border-color: var(--color-orange) !important;
    color: var(--color-orange) !important;
}

.pill-yellow {
    border-color: var(--color-yellow) !important;
    color: var(--color-yellow) !important;
}

.pill-green {
    border-color: var(--color-green) !important;
    color: var(--color-green) !important;
}

.pill-blue {
    border-color: var(--color-blue) !important;
    color: var(--color-blue) !important;
}

.pill-purple {
    background: none !important;
    border-color: var(--color-purple) !important;
    color: var(--color-purple) !important;
}

.pill-pink {
    border-color: var(--color-pink) !important;
    color: var(--color-pink) !important;
}

.pill-red {
    border-color: var(--color-red) !important;
    color: var(--color-red) !important;
}