/* Super.so mobile breakpoint */
@media screen and (max-width: 860px) {



    :root {
        /*--font-size-intro: 20px;*/
        /*--font-size-first-h1-index: 6.5vw !important;*/
    }

    /* Hide the 'scroll down' arrow */
    #block-605a9fec43f44a5fb2cefcc339abf331 {
        display: none !important;
    }

    .notion-root>h1:first-of-type,
    #page-index .notion-root>h1:first-of-type {
        font-size: 6.4vw !important;
        font-weight: 500 !important;
        height: auto !important;
    }



}

@media screen and (max-width: 480px) {

    :root {
        font-size: 16px !important;
    }

    .notion-root>h1:first-of-type,
    #page-index .notion-root>h1:first-of-type {
        font-size: 28px !important;
        letter-spacing: -0.02em !important;
    }
}