table:first-child {
    color: #fff;
    height: auto !important;
    display: flex;
    align-items: center;
    font-size: 1.1em !important;
    margin-bottom: 40px !important;
    margin-top: 120px !important;
    border-top: 1px solid #333;
    padding-top: 80px
}



tr:first-child span:not(:first-child) {
    margin-left: 15px
}

tr:not(:first-child) a {
    margin-left: 4px;
    margin-right: 4px;
    text-decoration: underline !important
}

tbody {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important
}

td {
    width: 100% !important
}