/* Super.so CSS classes: https://super.so/docs/css-classes */
/* Super.so CSS colors: https://super.so/docs/notion-colors */


/* TODO: Migrate into separate stylesheets */


body {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
    background: var(--color-bg-default) !important;
    color: var(--color-text-default) !important;
    font-size: var(--font-size) !important
}

.super-content {
    max-width: 100% !important;
    padding: 0 20px !important
}

.super-content.max-width {
    max-width: var(--max-width) !important
}















.notion-to-do__content {
    max-width: 640px !important
}

.date {
    color: var(--color-text-default-legible) !important
}





.notion-file__icon {
    fill: var(--color-primary) !important
}

.notion-file__size {
    color: var(--color-text-default-legible);
    opacity: .4
}

.notion-quote {
    font-size: 1.1em !important;
    line-height: 1em !important;
    border-left: 1px solid var(--color-primary) !important
}

.notion-toggle {
    display: none !important
}



token[style] {
    color: var(--color-text-default-legible) !important
}



.token {
    text-shadow: none !important;
    color: var(--color-text-default-legible) !important
}


















.project-arrow {
    width: 24px !important;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 30px;
    opacity: .2;
    transition: var(--transition)
}



.no-click {
    display: none !important
}