body {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
    background: var(--color-bg-default) !important;
    color: var(--color-text-default) !important;
    font-size: var(--font-size) !important
}

.super-content {
    max-width: 100% !important;
    padding: 0 20px !important
}

.super-content.max-width {
    max-width: var(--max-width) !important
}