/* Super.so CSS classes: https://super.so/docs/css-classes */
/* Super.so CSS colors: https://super.so/docs/notion-colors */


/* TODO: Migrate into separate stylesheets */


body {
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    text-rendering: optimizeLegibility !important;
    background: var(--color-bg-default) !important;
    color: var(--color-text-default) !important;
    font-size: var(--font-size) !important
}

.super-content {
    max-width: 100% !important;
    padding: 0 20px !important
}

.super-content.max-width {
    max-width: var(--max-width) !important
}











.notion-text__content {
    margin: 0 !important;
    padding: 0 !important
}



.notion-to-do__content {
    max-width: 640px !important
}

.date {
    color: var(--color-text-default-legible) !important
}

p>* {
    line-height: 1.5 !important;
    letter-spacing: -.2px !important
}

p>span>span>a {
    border-bottom: 1px solid var(--color-primary) !important;
    padding-bottom: 2px !important
}

p>span>span>a:visited {
    color: var(--color-text-default-legible) !important
}

li a {
    border-bottom: 1px solid var(--color-primary) !important
}

h2>span>span>a {
    color: var(--color-primary) !important
}

p code {
    font-size: .8em !important
}

.notion-file__icon {
    fill: var(--color-primary) !important
}

.notion-file__size {
    color: var(--color-text-default-legible);
    opacity: .4
}

.notion-quote {
    font-size: 1.1em !important;
    line-height: 1em !important;
    border-left: 1px solid var(--color-primary) !important
}

.notion-toggle {
    display: none !important
}

pre {
    font-size: .9em !important;
    background: var(--color-bg-dark-darker) !important;
    max-width: 630px !important;
    color: var(--color-text-default-legible) !important
}

pre code {
    background: var(--color-bg-dark-darker) !important;
    max-width: 630px !important;
    color: var(--color-text-default-legible) !important
}

code {
    white-space: pre-wrap !important;
    background: var(--color-bg-dark-lighter) !important;
    border-radius: 0 !important;
    color: var(--color-text-default-legible) !important
}

token[style] {
    color: var(--color-text-default-legible) !important
}

code {
    text-shadow: none !important
}

pre {
    text-shadow: none !important
}

pre>code>span {
    text-shadow: none !important
}

.token {
    text-shadow: none !important;
    color: var(--color-text-default-legible) !important
}

.notion-caption {
    color: var(--color-text-default-legible) !important;
    opacity: .7;
    font-size: 1.1em;
    margin-bottom: 30px !important
}

.notion-text__content {
    color: var(--color-text-default-legible) !important;
    font-size: .9em
}

a {
    color: var(--color-text-default-legible) !important;
    transition: var(--transition) !important;
    border: 0 !important
}

a:visited {
    color: var(--color-text-default-legible) !important
}

a:hover {
    color: var(--color-primary) !important
}

.notion-divider {
    border-color: var(--color-bg-dark-lighter) !important;
    opacity: .4 !important
}

.notion-bulleted-list {
    list-style: none !important
}

.notion-bulleted-list li {
    margin: 6px 0 !important
}

.notion-list-item>span {
    padding-left: 8px !important
}

ul>.notion-list-item:before {
    content: "⟶";
    opacity: .3 !important;
    display: inline-block;
    margin-left: -1em;
    font-size: 16px !important
}

ul {
    font-size: 1.1em !important
}

.notion-list-item>span {
    color: var(--color-text-default-legible) !important
}

ol li {
    color: #737477 !important
}

.notion-numbered-list li {
    margin: 10px 0 !important
}

.notion-checkbox>svg {
    fill: var(--color-bg-dark-lighter) !important
}

.notion-checkbox.checked {
    background: var(--color-primary) !important
}

.notion-checkbox.checked>svg {
    fill: var(--color-text-dark) !important
}

.notion-bookmark {
    border: 1px solid var(--color-bg-dark-lighter) !important
}

.notion-bookmark__content {
    padding: 20px !important
}

.notion-bookmark a:hover {
    color: var(--color-text-default-legible) !important
}

.notion-bookmark a:hover .notion-bookmark__title {
    color: var(--color-primary) !important
}



.notion-bookmark__title {
    height: auto !important;
    margin-bottom: 7px !important
}

.notion-bookmark__description {
    height: auto !important;
    line-height: 1.3 !important;
    margin-bottom: 10px !important
}

.notion-bookmark__link {
    margin-top: 10px
}

.notion-bookmark__link>p {
    font-size: .8em !important;
    text-transform: uppercase;
    letter-spacing: 1px
}

.notion-bookmark__cover {
    height: auto !important;
    border-radius: 10px !important
}





.project-arrow {
    width: 24px !important;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 30px;
    opacity: .2;
    transition: var(--transition)
}











.notion-pill {
    border-radius: 0 !important;
    padding: 5px 10px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .9em !important;
    letter-spacing: 1px;
    margin: 0;
    display: block;
    max-width: 100% !important;
    background: 0 0 !important;
    padding: 0 !important;
    opacity: .4 !important
}





table:first-child {
    color: #fff;
    height: auto !important;
    display: flex;
    align-items: center;
    font-size: 1.1em !important;
    margin-bottom: 40px !important;
    margin-top: 120px !important;
    border-top: 1px solid #333;
    padding-top: 80px
}



tr:first-child span:not(:first-child) {
    margin-left: 15px
}

tr:not(:first-child) a {
    margin-left: 4px;
    margin-right: 4px;
    text-decoration: underline !important
}

tbody {
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important
}

td {
    width: 100% !important
}



.no-click {
    display: none !important
}