:root {

    /* COLORS */

    /* Custom properties */

    --custprop-hsl-bg-dark: 230, 9%, 13%;

    /* Defined colors */

    --color-gray: #aeafaf !important;
    --color-brown: #ae9d82 !important;
    --color-orange: #ff9933 !important;
    --color-yellow: #ffff66 !important;
    --color-green: #D4FF59 !important;
    --color-blue: #3399ff !important;
    --color-purple: #7d47cf !important;
    --color-pink: #ff99cc !important;
    --color-red: #ff5666 !important;

    --color-text-light: #F0F0F0 !important;
    --color-text-light-legible: #cccccc !important;
    --color-text-dark: #202126 !important;

    --color-bg-dark: hsl(var(--custprop-hsl-bg-dark)) !important;
    --color-bg-dark-darker: #1d1d21 !important;
    --color-bg-dark-lighter: #2f2f2f !important;

    /* Brand colors */

    --color-primary: var(--color-blue) !important;





}