.super-navbar {
    background: 0;
    position: fixed !important;
    animation: fadeIn var(--dur-in-mid) var(--ease-default) !important;
}

.super-navbar__item {
    font-size: 0.925rem !important;
}

.super-navbar__logo-text,
.super-navbar__item {
    font-weight: 500 !important;
}

.super-navbar__logo,
.super-navbar__item {
    transition: var(--transition-hover) !important;
}

.super-navbar__logo:hover,
.super-navbar__item:hover {
    color: var(--color-primary) !important;
}

/* navbar backdrop */

:root {
    --navbar-backdrop-gradientstart: 0px;
    --navbar-backdrop-opacity: 80%;
}

.super-navbar:after {
    content: "";

    position: absolute;
    top: var(--navbar-backdrop-gradientstart);
    left: 0px;

    width: 100%;
    height: 150px;

    background-image: var(--gradient-bg-dark);

    transform: scaleY(-1);

    opacity: var(--navbar-backdrop-opacity);

    z-index: -1;
}

/* mobile menu backdrop */

.super-navbar__menu:before {
    content: "";

    position: fixed;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;

    background: var(--color-bg-dark-darker);

    z-index: -1;
}