.super-navbar {
    position: fixed !important;
    animation: fadeIn var(--dur-in-mid) var(--ease-default) !important;
}

.super-navbar__item {
    font-size: 0.925rem !important;
}

.super-navbar__logo-text,
.super-navbar__item {
    font-weight: 400 !important;
}

.super-navbar__logo,
.super-navbar__item {
    transition: var(--transition-hover) !important;
}

.super-navbar__logo:hover,
.super-navbar__item:hover {
    color: var(--color-primary) !important;
}

/* .super-navbar__menu:before {
    content: "";

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;

    background: #080808;

    z-index: -1;
}

.super-navbar__menu:after {
    content: "";

    position: fixed;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;

    background: #080808;
    opacity: 50%;

    z-index: -2;
} */