:root {
    font-size: 17px !important;
}

/* line heights */

.notion-semantic-string {
    line-height: 1.4 !important;
}

.notion-heading .notion-semantic-string {
    line-height: 1.25 !important;
}

/* general headings */

h1 {
    font-size: 40px !important;
    font-weight: 400 !important;
    letter-spacing: -0.03em !important;

    margin-top: 50px !important;
}

h2 {
    font-size: 30px !important;
    font-weight: 500 !important;
    letter-spacing: -0.005em !important;

    margin-top: 40px !important;
}

h3 {
    font-size: 20px !important;
    font-weight: 600 !important;

    margin-top: 10px !important;
}

/* text with dark backgrounds */

.bg-gray,
.bg-green,
.bg-orange,
.bg-yellow,
.bg-pink {
    color: var(--color-text-dark) !important;
}

/* Titles of items in Lists */

.notion-property__title {
    font-size: 16px !important;
}

/* Smaller Type */

.notion-table,
.notion-file * {
    font-size: 15px !important;
}