:root {
    font-size: 17px !important;
}

.notion-semantic-string {
    line-height: 1.425 !important;
}

/* Heading elements */

h1 {
    font-size: 2.6rem !important;
    font-weight: 400 !important;
    letter-spacing: -0.034em !important;
}

h2 {
    font-size: 1.85rem !important;
    font-weight: 500 !important;
    letter-spacing: -0.006em !important;
}

h3 {
    font-size: 0.9rem !important;
    text-transform: uppercase !important;
    letter-spacing: 0.5px !important;
    font-weight: 600 !important;
    color: var(--color-text-gray) !important;
}

/* Use dark text color with light backgrounds */

.bg-gray,
.bg-green,
.bg-orange,
.bg-yellow,
.bg-pink {
    color: var(--color-text-dark) !important
}