:root {
    font-size: 16px !important;
}

.notion-root>h1:first-of-type {
    font-size: 3.5em !important;
    font-weight: 300 !important;
    letter-spacing: -1.5px !important;
    max-width: 900px !important;

    animation: fadeInDown var(--dur-in-slow) !important;

    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 1.2em 0px !important;
}

#page-index .notion-root>h1:first-of-type {
    padding: 0px 0px 0px 0px !important;
    margin: 0px 0px 10vh 0px !important;
    height: 40vh;
}



h1 {
    font-size: 2.6em !important;
    font-weight: 300 !important;
    letter-spacing: -1px !important;
}

h2 {
    font-size: 1.85em !important;
    font-weight: 500 !important;
    letter-spacing: -0.2px !important;
}

h3 {
    font-size: 1em !important;
    font-weight: 700 !important;
    letter-spacing: 0.5px !important;

    opacity: 0.7 !important;
    text-transform: uppercase !important;
}

.bg-gray,
.bg-green,
.bg-orange,
.bg-yellow,
.bg-pink {
    color: var(--color-text-dark) !important
}