/*—————————————————————————————————————————————*/
/* Navbar */
.notion-navbar a[href="/"] {
  display: flex !important;
}

.notion-navbar {
  background: none !important;
  box-shadow: none !important;
  position: fixed  !important;
  padding-top: 64px !important;
  padding-bottom: 64px !important;
  padding-left: 48px !important;
  background-color: var(--background-color) !important;
}

.notion-navbar > a { padding: 0 !important; }
.notion-navbar>a:hover { background: none !important; }
.notion-breadcrumb__divider { margin: -4px 4px 0 !important; }
.notion-navbar__title {
  overflow: visible !important;
  font-size: 20px !important;
}

/* Quote block */
.notion-quote:first-child {
  padding-top: 54px !important;
  padding-right: 48px !important;
  justify-content: flex-end !important;
  align-items: center !important;
  font-size: 16px !important;
  position: fixed  !important;
  z-index: 9999 !important;
  display: flex !important;
  border: none !important;
  margin: 0 !important;
  right: 0 !important;
  top: 0 !important;

}


.notion-quote:first-child .notion-semantic-string .link {
  font-size: 16px !important;
}

.notion-quote:first-child span,
.notion-quote:first-child .link {
  display: inline !important;
}

.notion-navbar__title {
  color: var(--text-color) !important;
  transition: var(--transition) !important;
  font-weight: 400 !important;
}

notion-navbar__title:hover {
  color: var(--color-text-gray) !important;
  transition: var(--transition) !important;
}


/*——————————————————————*/
/* Tablet styles */
@media screen and (max-width: 875px) {
  .notion-navbar > a > div {
    max-width: 350px !important;
    white-space: unset !important;
  }
}


/*——————————————————————*/
/* Mobile styles  */

@media screen and (max-width: 600px) {
  .notion-quote:first-child {
    padding: 0px 24px 24px 24px !important;
    justify-content: flex-start !important;
    top: 48px !important;
    font-size: 18px !important;
    width: 100% !important;
    background-color: var(--background-color) !important;
  }

  .notion-navbar {
    padding: 32px 24px !important;
  }

  .notion-header.page {
      padding: 0px 24px !important;
    }
}


/*——————————————————————*/
/* XL */

@media screen and (min-width: 1440px) {
  .notion-quote:first-child {
      padding-right: 96px !important;
  }

  .notion-navbar {
      padding-left: 96px !important;
  }
}
