/* Desktop */
.super-navbar {
  background: var(--background-color) !important;
  height: 128px !important;
}

.super-navbar__cta  {
  background: var(--divider-color) !important;
  color: var(--color-text-gray) !important;
  padding: 12px 24px !important;
}

.super-navbar__content {
  padding: 8px 32px !important;
}

.super-navbar__content > .notion-link {
  color: var(--text-color) !important;
  font-size: 20px !important;
  max-height: 32px !important;
}

.super-navbar__content > .notion-link:hover {
  color: var(--color-text-gray) !important;
}

.super-navbar__menu {
  top: 24px !important;
  right: 28px !important;
}

/* Mobile  */

@media screen and (max-width: 600px) {
  .super-navbar__content {
    padding: 8px 16px !important;
  }

  .super-navbar {
    height: 96px !important;
  }

  .super-navbar__menu {
    top: 8px !important;
    right: 12px !important;
  }
}

@media screen and (max-width: 546px) {
   .super-navbar__menu {
     right: 4px !important;
   }
}

.super-navbar__menu[style] {
  background: var(--divider-color) !important;
}

.super_navbar__menu {
  box-shadow: 0px !important;
  -webkit-box-shadow: 0px !important;
}

/* XL */

@media screen and (min-width: 1441px) {
  .super-navbar__content {
    padding: 8px 96px !important;

  }

    .super-navbar__menu {
        right: 92px !important;
    }


}
