.notion-bulleted-list {
    list-style: none !important
}

.notion-bulleted-list li {
    margin: 6px 0 !important
}

.notion-list-item>span {
    padding-left: 8px !important
}

li a {
    border-bottom: 1px solid var(--color-primary) !important
}

ul>.notion-list-item:before {
    content: "⟶";
    opacity: .3 !important;
    display: inline-block;
    margin-left: -1em;
    font-size: 16px !important
}

ul {
    font-size: 1.1em !important
}

ol li {
    color: #737477 !important
}

.notion-list-item>span {
    color: var(--color-text-default-legible) !important
}

.notion-numbered-list li {
    margin: 10px 0 !important
}